*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, Helvetica, sans-serif;
}
h3 {
  color: rgb(145, 139, 139);
}
.container {
  max-width: 1300px;
  margin: auto;
  width: 100%;
  min-height: 80vh;
}
.header {
  width: 100%;
  min-height: 15vh;
  position: relative;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  border-radius: 0 0 50px 50px;
}
.wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: absolute;
  width: 80%;
  height: 50%;
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.3);
  padding: 0 30px;
}
.links {
  list-style: none;
  display: flex;
}
.links li a {
  text-decoration: none;
  display: block;
  background: rgba(173, 165, 165, 0.2);
  opacity: 0.8;
  margin-left: 20px;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  position: relative;
}
.links li a i {
  margin: auto;
  font-size: 120%;
  color: gray;
}
[translate]:hover::before {
  content: attr(translate);
  position: absolute;
  width: 100%;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  left: -140%;
  top: -60%;
  border-radius: 15px 15px 0 15px;
}
[chat]:hover::before {
  content: attr(chat);
  position: absolute;
  width: 200%;
  padding: 0.6rem;
  background: rgba(0, 0, 0, 0.6);
  color: #fff;
  left: 100%;
  top: -50%;
  border-radius: 15px 15px 15px 0;
}

.links li a:hover {
  background: rgba(148, 139, 139, 0.5);
}
