@import url('https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:wght@300;400;500;600;700;800;900&display=swap');
*,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Be Vietnam Pro', sans-serif;
}
*::before,
*::after {
  box-sizing: border-box;
}

::-webkit-scrollbar {
  width: 0;
}
img {
  max-width: 100%;
}
/* ::-webkit-scrollbar-thumb {
  background-color: #d6dee1;
  border-radius: 20px;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: #a8bbbf;
} */
.App {
  height: 100vh;
  padding-right: 30px;
  padding-left: 30px;
  display: flex;
  align-items: center;
}
.container {
  max-width: 1400px;
  width: 100%;
  height: 100%;
  margin: 50px auto;
  display: flex;
  align-items: center;
  justify-content: center;
}
h3 {
  color: #f1f1f1;
  display: flex;
  align-items: center;
}
h3.dark {
  color: #febd2d;
}

.header {
  width: 30%;
  height: 92%;
  margin-right: 30px;
  display: flex;
  flex-direction: column;
  background-color: #18273b;
  border-radius: 15px;
  padding: 15px 0 15px 15px;
}
.header-nav,
.header-menu {
  width: 100%;
  /* background-color: #fff; */
  border-radius: 10px;
}
.header-nav {
  height: 12%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-left: 20px;
  padding-right: 20px;
  margin-bottom: 20px;
}
.header-menu {
  height: 90%;
  list-style-type: none;
  padding-top: 20%;
}
.header-menu li a {
  display: flex;
  align-items: center;
  width: 100%;
  padding: 20px;
  margin-bottom: 20px;
  border-radius: 15px 0 0 15px;
  color: #f1f1f1;
  text-decoration: none;
  font-size: 18px;
  position: relative;
}
.header-menu li a.active {
  background: #f1f1f1;
  color: #18273b;
}
.header-menu li a.active::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: currentColor;
  top: -30px;
  right: 0;
  box-shadow: 15px 15px 0 0 #f1f1f1;
}
.header-menu li a.active.dark {
  background-color: #242526;
  color: #f1f1f1;
}
.header-menu li a.active.dark::before {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  top: -30px;
  right: 0;
  box-shadow: 15px 15px 0 0 #242526;
}
.header-menu li a.active::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: currentColor;
  bottom: -30px;
  right: 0;
  box-shadow: 15px -15px 0 0 #f1f1f1;
}
.header-menu li a.active.dark::after {
  content: '';
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background: #000;
  bottom: -30px;
  right: 0;
  box-shadow: 15px -15px 0 0 #242526;
}
.header-menu li a span {
  margin-left: 20px;
}
.icon {
  font-size: 150%;
}
.header.dark {
  background: #000;
}

/* Toogle  */
.toggle {
  position: relative;
  width: 40px;
  height: 20px;
  border-radius: 20px;
  cursor: pointer;
  margin-left: 50px;
  margin-top: auto;
  margin-bottom: auto;
  background-image: linear-gradient(aqua, skyblue);
}

.toggle.night {
  background-image: linear-gradient(
    midnightblue,
    rebeccapurple
  );
}

.night > .notch {
  transform: translateX(20px);
  background-image: linear-gradient(
    whitesmoke,
    rgb(204, 204, 188)
  );
  box-shadow: 0 0 8px rgb(250, 247, 247);
}

.night .crater {
  opacity: 0.5;
}

.night .shape {
  background: white;
  box-shadow: 0 0 10px 2px violet;
}

.night .shape.sm {
  height: 2px;
  width: 2px;
  transform: translateX(-20px);
}

.night .shape.sm:first-child {
  transform: translateX(-10px);
}

.night .shape.md {
  height: 3px;
  width: 3px;
  transform: translateX(0px);
}

.night .shape.lg {
  height: 3px;
  width: 3px;
  transform: translateX(-5px);
}

.notch {
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  background-image: linear-gradient(
    rgb(255, 217, 0),
    yellow
  );
  box-shadow: 0 0 8px rgb(255, 196, 0);
  z-index: 1;
  transition: all 0.4s ease;
}

.crater {
  background: burlywood;
  border-radius: 50%;
  position: absolute;
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.4) inset;
  opacity: 0;
}

.crater:first-child {
  left: 7px;
  top: 3px;
  height: 3px;
  width: 6px;
  transform: rotate(-45deg);
}

.crater:last-child {
  right: 12px;
  top: 7px;
  height: 4px;
  width: 7px;
  transform: rotate(45deg);
}

.shape {
  position: absolute;
  background: whitesmoke;
  border-radius: 50%;
  transition: all 0.4s ease;
}

.shape.sm {
  height: 2px;
  width: 6px;
  top: 48%;
  left: 60%;
}

.shape.md {
  height: 3px;
  width: 15px;
  top: 21%;
  left: 25%;
  z-index: 2;
}

.shape.lg {
  height: 3px;
  width: 20px;
  left: 30%;
  bottom: 15%;
}
